

header,
footer {
  text-align: center;
  font-size: 35px;
}

footer {
}

header h1 {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}
header select {
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

h2 {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 10px;
}

img {
  width: 100%;
  height: 250px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: contain;
}

section {
  width: 25%;
  text-align: center;
  margin: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
